body { 
  display: grid;
  grid-template-areas: 
    "header article"
    "nav article"
    "nav footer";
  grid-template-rows: 100px 1fr 50px;  
  grid-template-columns: 7% 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
header, footer, article, nav, div {
  padding: 1.2em;
}

header, nav{
  padding: 1.2em;
  background:#4a4949;
}
nav img{
  width:40px;
  height:40px;
  padding: 8px 8px 8px 8px;
}
nav img:hover{
  background-color: #ffffff;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* nav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
} */
/* nav a:hover {
  border: 2px solid #fff;
  border-radius: 5px;
  color: #4a4949;
  background: #fff;
} */
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  text-align: center;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  } 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "nav"
      "footer";
    grid-template-rows: 100px 1fr 1fr 50px;  
    grid-template-columns: 1fr;
 }
}
.logo {
  /* display: block; */
  width: 65px;
  height: 65px;
}
.btn-verde{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-verde:hover{
  background-color: #4c8c0b; /* Green */
  color: white;
}
.btn-amarillo{
  background-color: #efbc26;
  border: none;
  color: #070707;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-amarillo:hover{
  background-color: #efac26; /* Green */
  color: #050505;
}
.btn-rojo{
  background-color: #fa0000;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-rojo:hover{
  background-color: #d61717; /* Green */
  color: white;
}
.btn-azul{
  background-color: #003ffa;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-azul:hover{
  background-color: #0586f6; /* Green */
  color: white;
}
input{
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
input:focus{
  outline: none;
  border-color: #1888ff;
  box-shadow: 0 0 10px #719ECE;
}
select{
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
select:focus{
  outline: none;
  border-color: #1888ff;
  box-shadow: 0 0 10px #719ECE;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.container{
  display: grid;
  background: #fff;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
  padding: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.formulario{
  margin-bottom:15px
}

