body { 
  display: grid;
  grid-template-areas: 
    "header article"
    "nav article"
    "nav footer";
  grid-template-rows: 100px 1fr 50px;  
  grid-template-columns: 7% 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
header, footer, article, nav, div {
  padding: 1.2em;
}

header, nav{
  padding: 1.2em;
  background:#4a4949;
}
nav img{
  width:40px;
  height:40px;
  padding: 8px 8px 8px 8px;
}
nav img:hover{
  background-color: #247ba0;
  border: 1px solid #247ba0;
  border-radius: 5px;
}
/* nav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
} */
/* nav a:hover {
  border: 2px solid #fff;
  border-radius: 5px;
  color: #4a4949;
  background: #fff;
} */
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  text-align: center;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  } 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "nav"
      "footer";
    grid-template-rows: 100px 1fr 1fr 50px;  
    grid-template-columns: 1fr;
 }
}
.logo {
  /* display: block; */
  width: 65px;
  height: 65px;
}
/*************************************************************************************/
/**************************************INDEX******************************************/
/*************************************************************************************/
.index{
  display: grid;
  grid-template-areas: 
    "items-header"
    "items";
  grid-template-rows: 10% 500px;  
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 0px;
  height: 100vh;
  margin: 0;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
.items-header{
  grid-area: items-header;
  /* border: 1px solid #000; */
}
.items{
  grid-area: items;
  overflow-y: scroll;
  /* border: 1px solid #000; */
  display: grid;
  grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
  grid-auto-rows: 25%;  
  grid-template-columns: 25% 25% 25% 25%;
  /* grid-row-gap: 5px;
  grid-column-gap: 5px; */
  margin: 0;
  /* background-color: cadetblue; */
  height: 65vh;
  width: 85vw;
  padding: 0 0 0 0;
}
.shop-item {
  /* border: 1px solid  rgba(255, 255, 55, 0.8); */
  border-radius: 5px;
  display: grid;
  grid-template:
  'item-image item-title item-title'
  'item-image item-description item-description'
  'item-image item-price item-add';
  grid-template-rows: 33% 33% 34%;  
  grid-template-columns: 40% 30% 30%;
  /* background-color: rgba(255, 255, 55, 0.8); */
  text-align: center;
  padding: 0 0 0 0;
  font-size: 12px;
  margin: 0;
}
.shop-item:hover {
  border: 1px solid  rgba(255, 255, 0, 0.5);
  border-radius: 5px;
  display: grid;
  grid-template:
  'item-image item-title item-title'
  'item-image item-description item-description'
  'item-image item-price item-add';
  grid-template-rows: 33% 33% 34%;  
  grid-template-columns: 40% 30% 30%;
  background-color:  rgba(255, 255, 0, 0.5);
  text-align: center;
  padding: 0 0 0 0;
  font-size: 12px;
  margin: 0;
}
.shop-item > p{
  text-align: center;
  font-size: 8px;
  margin: 0;
}
.shop-item-image {
  padding: 0 0 0 0;
  grid-area:item-image;
  /* border: 1px solid #000; */
  margin: 0;
}
.shop-item-image img{
  padding: 5% 0 0 0;
  grid-area:item-image;
  /* border: 1px solid #000; */
  margin: 0;
  height: 90%;
}
.shop-item-title {
  padding: 0 0 0 0;
  grid-area:item-title;
  /* border: 1px solid #000; */
  margin: 0;
  position: relative;
}
.shop-item-title label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shop-item-description {
  padding: 0 0 0 0;
  grid-area:item-description;
  /* border: 1px solid #000; */
  margin: 0;
  position: relative;
}
.shop-item-description label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shop-item-price {
  padding: 0 0 0 0;
  grid-area:item-price;
  /* border: 1px solid #000; */
  margin: 0;
  position: relative;
}
.shop-item-price label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shop-item-add {
  padding: 0 0 0 0;
  grid-area:item-add;
  /* border: 1px solid #000; */
  margin: 0;
  position:relative;
}
.shop-item-add button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*************************************************************************************/
/**************************************LOGIN******************************************/
/*************************************************************************************/
.login{
  display: grid;
  grid-template-areas: 
    ". . ."
    ". box ."
    ". . .";
  grid-template-rows: 30% 40% 30%;  
  grid-template-columns: 30% 40% 30%;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  height: 90vh;
  margin: 0;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  padding:0;
}
.box{
  grid-area: box;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-areas: 
  ". . ."
  ". loginTitle ."
  ". loginUser ."
  ". loginPass ."
  ". loginBtn ."
  ". . .";
  grid-template-rows: 10% 20% 20% 20% 20% 10%;  
  grid-template-columns: 10% 80% 10%;
  grid-row-gap: 2px;
  grid-column-gap: 0px;
  padding: 0;
}
.box > div{
  padding:0;
  /* border: 1px solid #000000; */
}
.box > input{
  text-align: center; 
}
.loginTitle{
  grid-area:loginTitle;
  text-align: center;
  font-size: 24px;
}
.loginUser{
  grid-area:loginUser;
}
.loginPass{
  grid-area:loginPass;
}
.loginBtn{
  grid-area:loginBtn;
}
/*************************************************************************************/
.btn-verde{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-verde:hover{
  background-color: #4c8c0b; /* Green */
  color: white;
}
.btn-amarillo{
  background-color: #efbc26;
  border: none;
  color: #070707;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-amarillo:hover{
  background-color: #efac26; /* Green */
  color: #050505;
}
.btn-rojo{
  background-color: #fa0000;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-rojo:hover{
  background-color: #d61717; /* Green */
  color: white;
}
.btn-azul{
  background-color: #003ffa;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-azul:hover{
  background-color: #0586f6; /* Green */
  color: white;
}
input{
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
input:focus{
  outline: none;
  border-color: #1888ff;
  box-shadow: 0 0 10px #719ECE;
}
select{
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
select:focus{
  outline: none;
  border-color: #1888ff;
  box-shadow: 0 0 10px #719ECE;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.container{
  display: grid;
  background: #fff;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
  padding: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.formulario{
  margin-bottom:15px
}

